<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminUserMapper">
	
	<resultMap id="memberResultSet" type="Member">
		<id property="id" column="MEMBER_ID"/>
		<result property="name" column="MEMBER_NAME"/>
		<result property="pwd" column="MEMBER_PWD"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<result property="reportCount" column="MEMBER_REPORT_COUNT"/>
		<result property="banCount" column="MEMBER_BAN_COUNT"/>
		<result property="status" column="MEMBER_STATUS"/>
		<result property="imagePath" column="MEMBER_IMAGE_PATH"/>
	</resultMap>
	
	<resultMap id="boardResultSet" type="Board">
		<id property="cBoardNo" column="CBOARD_NO"/> <!-- 게시글 번호 -->
		<result property="cBoardTitle" column="CBOARD_TITLE"/> <!-- 게시글 제목 -->
		<result property="cBoardContent" column="CBOARD_CONTENT"/> <!-- 게시글 내용 -->
		<result property="cBoardCreateDate" column="CBOARD_CREATE_DATE"/> <!-- 게시글 작성일 -->
		<result property="cBoardModifyDate" column="CBOARD_MODIFY_DATE"/> <!-- 게시글 수정일 -->
		<result property="cBoardViewCount" column="CBOARD_VIEW_COUNT"/> <!-- 게시글 조회수 -->
		<result property="cBoardStatus" column="CBOARD_STATUS"/> <!-- 게시글 상태 -->
		<result property="memberId" column="MEMBER_ID" /> <!-- 이메일 -->
		<result property="cBoardOriFilename" column="CBOARD_ORIGIN_FILENAME" /> <!-- 기존 파일 이름 -->
		<result property="cBoardChaFilename" column="CBOARD_CHANGE_FILENAME" /> <!-- 바뀐 파일 이름 -->
		<result property="memberName" column="MEMBER_NAME" /> <!-- 바뀐 파일 이름 -->
		<result property="reportType" column="REPORT_TYPE" /> <!-- 바뀐 파일 이름 -->		
	</resultMap>
	
	<select id="selectList" resultMap="memberResultSet">
		SELECT *
		FROM MEMBER
	</select>
	
	<update id="aDeleteMember" parameterType="map">
		UPDATE MEMBER
		SET MEMBER_STATUS ='N'
		WHERE MEMBER_ID IN
		<foreach collection="aMemberList" item="list" open="(" close=")" separator="," >
			#{list}
		</foreach>
		AND MEMBER_STATUS = 'Y'
	</update>
	
	<update id="aReviveMember" parameterType="map">
		UPDATE MEMBER
		SET MEMBER_STATUS ='Y'
		WHERE MEMBER_ID IN
		<foreach collection="aMemberList" item="list" open="(" close=")" separator="," >
			#{list}
		</foreach>
		AND MEMBER_STATUS = 'N'
	</update>
	
	<select id="aMemberDetail" parameterType="string" resultMap="memberResultSet">
		SELECT *
		FROM MEMBER
		WHERE MEMBER_ID = #{id}
	</select>
	
	<select id="aMemberBoardList" parameterType="string" resultMap="boardResultSet">
		SELECT CBOARD_NO, CBOARD_TITLE, CBOARD_CONTENT, CBOARD_CREATE_DATE, 
		CBOARD_MODIFY_DATE, CBOARD_VIEW_COUNT, CBOARD_STATUS, MEMBER_ID, 
		CBOARD_ORIGIN_FILENAME, CBOARD_CHANGE_FILENAME, MEMBER_NAME
		FROM CBOARD
		JOIN MEMBER USING (MEMBER_ID)
		WHERE MEMBER_ID = #{id}
	</select>
	
	<select id="detailBoard" parameterType="_int" resultMap="boardResultSet">
		SELECT CBOARD_NO, CBOARD_TITLE, CBOARD_CONTENT, CBOARD_CREATE_DATE, CBOARD_MODIFY_DATE, CBOARD_VIEW_COUNT, 
		CBOARD_STATUS, MEMBER_ID, CBOARD_ORIGIN_FILENAME, CBOARD_CHANGE_FILENAME, MEMBER_NAME,REPORT_TYPE	
		FROM CBOARD
		JOIN MEMBER USING (MEMBER_ID)
		WHERE CBOARD_NO = #{cBoardNo}
	</select>
	
	<update id="aDeleteMemberBoard" parameterType="map">
		UPDATE CBOARD
		SET CBOARD_STATUS ='N'
		WHERE CBOARD_NO IN
		<foreach collection="aMemberBoardList" item="list" open="(" close=")" separator="," >
			#{list}
		</foreach>
		AND CBOARD_STATUS = 'Y'
	</update>
	
	<update id="aReviveMemberBoard" parameterType="map">
		UPDATE CBOARD
		SET CBOARD_STATUS ='Y'
		WHERE CBOARD_NO IN
		<foreach collection="aMemberBoardList" item="list" open="(" close=")" separator="," >
			#{list}
		</foreach>
		AND CBOARD_STATUS = 'N'
	</update>
	
</mapper>
