<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">
	<resultMap id="boardResultSet" type="Board">
		<id property="cBoardNo" column="CBOARD_NO"/> <!-- 게시글 번호 -->
		<result property="cBoardTitle" column="CBOARD_TITLE"/> <!-- 게시글 제목 -->
		<result property="cBoardContent" column="CBOARD_CONTENT"/> <!-- 게시글 내용 -->
		<result property="cBoardCreateDate" column="CBOARD_CREATE_DATE"/> <!-- 게시글 작성일 -->
		<result property="cBoardModifyDate" column="CBOARD_MODIFY_DATE"/> <!-- 게시글 수정일 -->
		<result property="cBoardViewCount" column="CBOARD_VIEW_COUNT"/> <!-- 게시글 조회수 -->
		<result property="cBoardStatus" column="CBOARD_STATUS"/> <!-- 게시글 상태 -->
		<result property="memberId" column="MEMBER_ID" /> <!-- 이메일 -->
		<result property="cBoardOriFilename" column="CBOARD_ORIGIN_FILENAME" /> <!-- 기존 파일 이름 -->
		<result property="cBoardChaFilename" column="CBOARD_CHANGE_FILENAME" /> <!-- 바뀐 파일 이름 -->
	</resultMap>
	

	<resultMap id="replyResultSet" type="Reply">
		<id property="cbReplyNo" column="CB_REPLY_NO"/> 
		<result property="cbReplyContent" column="CB_REPLY_CONTENT"/> 
		<result property="cbReplyCreateDate" column="CB_REPLY_CREATE_DATE"/> 
		<result property="cbReplyModifyDate" column="CB_REPLY_MODIFY_DATE"/> 
		<result property="cbReplyStatus" column="CB_REPLY_STATUS"/> 
		<result property="cboardNo" column="CBOARD_NO"/> 
		<result property="memberId" column="MEMBER_ID" />
	</resultMap>
	 
	
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*)
		FROM CBOARD
		WHERE CBOARD_STATUS='Y'
	</select>
	
	<select id="selectList" resultMap="boardResultSet">
		SELECT *
		FROM CBOARD
		WHERE CBOARD_STATUS='Y'
		ORDER BY CBOARD_NO DESC
	</select>
	
	<insert id="insertBoard" parameterType="Board">
		INSERT INTO CBOARD VALUES(
			SEQ_CBNO.NEXTVAL, #{cBoardTitle}, #{cBoardContent}, SYSDATE, SYSDATE, DEFAULT, DEFAULT
		)
	</insert>
	
	<update id="addReadCount" parameterType="_int">
		UPDATE CBOARD
		SET CBOARD_VIEW_COUNT = CBOARD_VIEW_COUNT + 1
		WHERE CBOARD_NO = #{cBoardNo}    
	</update>
	
	<select id="selectBoard" parameterType="_int" resultMap="boardResultSet">
		SELECT *
		FROM CBOARD
		WHERE CBOARD_NO = #{cBoardNo}
		AND CBOARD_STATUS = 'Y'
	</select>
	
	<update id="deleteBoard" parameterType="_int">
		UPDATE CBOARD SET CBOARD_STATUS = 'N'
		WHERE CBOARD_NO = #{cBoardNo}
	</update>
	
	<update id="updateBoard" parameterType="Board">
		UPDATE CBOARD
		SET CBOARD_TITLE = #{cBoardTitle}, CBOARD_CONTENT = #{cBoardContent},
		<if test="cBoardCreateDate != null">
			CBOARD_CREATE_DATE = #{cBoardCreateDate},
			CBOARD_MODIFY_DATE = #{cBoardModifyDate},
		</if>
		CBOARD_MODIFY_DATE = SYSDATE
		WHERE CBOARD_NO = #{cBoardNo}
	</update>
	
	
	<insert id="insertReply" parameterType="Reply">
		INSERT INTO CB_REPLY VALUES(
			SEQ_CBRNO.NEXTVAL, #{cbRContent}, SYSDATE, SYSDATE,  DEFAULT, #{cboardNo}, #{memberId}
		)
	</insert>
	
	<select id="selectReply" parameterType="_int" resultMap="replyResultSet">
		SELECT *
		FROM CB_REPLY
		WHERE CB_REPLY_STATUS='Y'
		AND CBOARD_NO = #{cBoardNo}
		ORDER BY CB_REPLY_NO DESC
	</select>
</mapper>

