<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pboardMapper">
	<resultMap type="ProjectBoard" id="pBoardResultSet">
		<id property="pbNo" column="PBOARD_NO"/>
		<result property="pBoardTitle" column="PBOARD_TITLE"/>
		<result property="pBoardContent" column="PBOARD_CONTENT"/>
		<result property="pBoardCreateDate" column="PBOARD_CREATE_DATE"/>
		<result property="pBoardModifyDate" column="PBOARD_MODIFY_DATE"/>
		<result property="pBoardViewCount" column="PBOARD_VIEW_COUNT"/>
		<result property="pBoardLikeCount" column="PBOARD_LIKE_COUNT"/>
		<result property="pBoardStatus" column="PBOARD_STATUS"/>
		<result property="refPNo" column="PROJECT_NO"/>
		<result property="memberName" column="MEMBER_NAME"/>
		<result property="projectImagePath" column="PROJECT_IMAGE_PATH"/>
		<result property="writerImagePath" column="MEMBER_IMAGE_PATH"/>
		<result property="writerId" column="MEMBER_ID"/>
		<result property="projectPath" column="PROJECT_PATH"/>
		<result property="projectFileName" column="PROJECT_FILE_NAME"/>
		<result property="projectTitle" column="PROJECT_TITLE"/>
	</resultMap>
	
	<resultMap type="PBReply" id="pbReplyResultSet">
		<id property="pbRNo" column="PB_REPLY_NO"/>
		<result property="pbRContent" column="PB_REPLY_CONTENT"/>
		<result property="pbRCreateDate" column="PB_REPLY_CREATE_DATE"/>
		<result property="pbRModifyDate" column="PB_REPLY_MODIFY_DATE"/>
		<result property="pbRStatus" column="PB_REPLY_STATUS"/>
		<result property="refPbno" column="PBOARD_NO"/>
		<result property="pbRWriterId" column="MEMBER_ID"/>
		<result property="pbRWriterName" column="MEMBER_NAME"/>
		<result property="memberImagePath" column="MEMBER_IMAGE_PATH"/>
	</resultMap>	
	
	<select id="getpbListCount" resultType="_int">
		SELECT COUNT(*)
		FROM PBOARD 
		WHERE PBOARD_STATUS='Y'
	</select>
	
	<select id="selectpBoardList" parameterType="ProjectBoard" resultMap="pBoardResultSet">
		SELECT PBOARD_NO,MEMBER_NAME,PBOARD_TITLE,PBOARD_CONTENT,PBOARD_CREATE_DATE,
		       PBOARD_VIEW_COUNT,PBOARD_LIKE_COUNT,PROJECT_NO,PROJECT_IMAGE_PATH,MEMBER_IMAGE_PATH,MEMBER_ID,
		       PROJECT_PATH,PROJECT_FILE_NAME,PROJECT_TITLE
		FROM PBOARD
		JOIN PROJECT USING (PROJECT_NO)
		JOIN MEMBER USING (MEMBER_ID)
		WHERE PBOARD_STATUS='Y'
		ORDER BY PBOARD_NO DESC
	</select>
	<insert id="insertpBoard" parameterType="ProjectBoard">
		INSERT INTO PBOARD
		VALUES (SEQ_PBNO.NEXTVAL,#{pBoardTitle},#{pBoardContent},SYSDATE,SYSDATE,DEFAULT,DEFAULT,'Y',
				#{refPNo},#{writerId})
		 
	</insert>
	
	<update id="updatepBoard" parameterType="ProjectBoard">
		UPDATE PBOARD
		SET PBOARD_TITLE = #{pBoardTitle} , PBOARD_CONTENT =#{pBoardContent},PBOARD_MODIFY_DATE=SYSDATE
		WHERE PBOARD_NO = #{pbNo}
	</update>
	
	<update id="deletepBoard" parameterType="ProjectBoard">
		UPDATE PBOARD
		SET PBOARD_STATUS='N'
		WHERE PBOARD_NO = #{pbNo}
	</update>
	<insert id="insertPBReply" parameterType="PBReply">
		INSERT INTO PB_REPLY
		VALUES (SEQ_PBRNO.NEXTVAL,#{pbRContent},SYSDATE,SYSDATE,DEFAULT,#{refPbno},#{pbRWriterId})
	</insert>
	<select id="selectpbReplyList" parameterType="_int" resultMap="pbReplyResultSet">
		SELECT PB_REPLY_CONTENT,PB_REPLY_CREATE_DATE,MEMBER_NAME,MEMBER_ID,MEMBER_IMAGE_PATH
		FROM PB_REPLY
		JOIN MEMBER USING (MEMBER_ID)
		WHERE PBOARD_NO=#{refPbno}
		ORDER BY PB_REPLY_NO DESC
	</select>
	<select id="getReplyCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*)
		FROM PB_REPLY
		WHERE PBOARD_NO=#{refPbno}
	</select>
	<update id="increaseViewCount" parameterType="_int">
		UPDATE PBOARD
		SET PBOARD_VIEW_COUNT=PBOARD_VIEW_COUNT+1
		WHERE PBOARD_NO =#{refPbno}
	</update>
</mapper>
