<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="projectMapper">
	<resultMap id="projectResultSet" type="Project">
		<id property="pNo" column="PNO"/>
		<result property="songTitle" column="SONG_TITLE"/>
		<result property="songWriter" column="SONG_WRITER"/>
		<result property="bpm" column="BPM"/>
		<result property="beat" column="BEAT"/>
		<result property="pCreateDate" column="P_CREATE_DATE"/>
		<result property="pModifyDate" column="P_MODIFY_DATE"/>
		<result property="pStatus" column="P_STATUS"/>
		<result property="pianoSoundInfo" column="PIANO_SOUND_INFO"/>
		<result property="bassSoundInfo" column="BASS_SOUND_INFO"/>
		<result property="guitarSoundInfo" column="GUITAR_SOUND_INFO"/>
		<result property="drumSoundInfo" column="DRUM_SOUND_INFO"/>
	</resultMap>
	
	
	<insert id="saveProject" parameterType="Project">
		INSERT INTO COMPOSITION_INFO
		VALUES 
		(SEQ_PNO.NEXTVAL,#{songTitle},1,#{bpm},#{beat},SYSDATE,SYSDATE,DEFAULT,
		#{pianoSoundInfo},#{bassSoundInfo},#{guitarSoundInfo},#{drumSoundInfo})
	</insert>
	<select id="openProject" resultMap="projectResultSet">
		SELECT *
		FROM 
		COMPOSITION_INFO
		WHERE ROWNUM =1
	</select>
	
</mapper>
