<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="projectMapper">
	<resultMap id="projectResultSet" type="Project">
		<id property="pNo" column="PROJECT_NO"/>
		<result property="projectTitle" column="PROJECT_TITLE"/>
		<result property="projectWriter" column="PROJECT_WRITER"/>
		<result property="projectPath" column="PROJECT_PATH"/>
		<result property="pCreateDate" column="PROJECT_CREATE_DATE"/>
		<result property="pModifyDate" column="PROJECT_MODIFY_DATE"/>
		<result property="pStatus" column="PROJECT_STATUS"/>
		<result property="projectFileName" column="PROJECT_FILE_NAME"/>
		<result property="projectImagePath" column="PROJECT_IMAGE_PATH"/>
	</resultMap>
	
	
	<insert id="saveProject" parameterType="Project">
		INSERT INTO PROJECT
		VALUES 
		(SEQ_PNO.NEXTVAL,#{projectTitle},SYSDATE,SYSDATE,#{projectPath},DEFAULT,#{projectWriter},#{projectFileName},#{projectImagePath})
	</insert>
 	<select id="openProject" resultMap="projectResultSet" parameterType="_int">
		SELECT *
		FROM 
		PROJECT
		WHERE PROJECT_NO = #{pNo}
	</select>
	
	<select id="selectProjectList" parameterType="Project" resultMap="projectResultSet">
		SELECT PROJECT_NO,PROJECT_TITLE,PROJECT_CREATE_DATE
		FROM PROJECT
		WHERE PROJECT_WRITER = #{projectWriter} AND
		      PROJECT_PATH = #{projectPath} AND
		      PROJECT_STATUS ='Y'
		ORDER BY PROJECT_NO DESC
		
	</select>
	
</mapper>
