@charset "UTF-8";
* {
	box-sizing: border-box;
}

body{
	background:grey !important;

}

div {
	width: 100%;
	height: 25px;
	margin: auto;

}
div div:first-child{
	width:4%;
	float: left;
	height: 100%;
	border: 1px solid lightgrey;
}
.pad{
	width: 3%;
	height: 100%;
	border: 1px solid lightgrey;
	float: left;
	background:rgba(255,255,255,0.4)
}
h1{
	color:white;
}
section{
	
	width:95%;
	height:95%;
	margin:auto;
}
.volumeController{
	padding: 0;
	height: 40px;
	position: relative;
}
.volumeController label img{
	position: absolute;
	top: 8px;
}
input[name="mute"]{
	display:none;
}
input[name="volume"]{
	height: 100%;
	width: 120px;
	margin-left: 30px;
}
#pause{
	display:none;
}
#saveModal{
	position:fixed ;
	width:100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
	z-index: 3;
	display:none;
}
#saveModal>div{
	width:26%;
	height:45%;
	margin-left:37%;
	margin-top:300px;
	background: rgb(30,30,30);
	border-radius:5px;
	border:none;
	z-index: 3;
	
}
#saveModal>div>.folderarea{
	width:90%;
	height:50%;
	overflow: scroll;
	border-radius:5px;
	background: rgb(50,50,50);
}
.textarea{
	width:90%;
	height:20%;
	color: white;
}
.textarea>input{
	width:100%;
}
#saveModal>div>.btnarea{
	width:90%;
	height:20%;
	text-align: center;
}

#saveModal>div>.btnarea>button{
	width:50px;
	margin-left:5px;
	border-radius:3px;
	background: gray;
	border: none;
	color:white;
	
}

#saveModal>div>h5{
	font-weight: bolder;
	color:white;
	padding: 10px;
}
::-webkit-scrollbar {
	display:none;
}
.folders p{
	padding-left:10px;
}