@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Kanit:400,700i&display=swap');
	*{
		box-sizing: border-box;
	}
	section{
		height:650px;
		width:70%;
		background: rgba(200,200,200,0.8);
		float:left;	
	}
	aside{
		height:650px;
		width:20%;
		background: rgba(0,0,0,0.7);
		padding:0 10px 0 10px;
		float: left;	
	}
	aside>.asidehead{
		width:100%;
		height: 80px;
		text-align: center;
		color:white;
		border-bottom: 3px solid grey;
		font-family:"Archivo Black",sans-serif;
	}
	.folderPath{
		font-weight: bolder;
		width:100%;
		height: 5%;
		margin:0;
		padding:0;
	
	}
	::-webkit-scrollbar {
		display:none;
	}
	.projectArea{
		width:100%;
		height: 95%;
		overflow: scroll;
		
	}
	.projectArea>div{
		margin:10px;
		width:247px;
		height:240px;
		background:rgba(110,110,110,0.5);
		border-radius: 10px;
		display: inline-block;
		
	}
	.projectArea>div>div>p{
		padding:0;
		margin: 0;
	}	
	.projectArea>div:hover{
		background:rgba(90,90,90,0.5);
		cursor: pointer;
	}
	.projectArea>div>img{
		margin:10px;
		width:220px;
		height:140px;
	}
	.projectArea>div>div{
		margin:5px;
		width:275px;
		height:50px;
		
	}
	.popup{
	width:300px;
	height: 120px;
	position:absolute;
	background: rgba(0,0,0,0.6);
	left:0;
	right:0;
	top:300px;
	margin: auto;
	display:none;
	border-radius: 10px;
}
.popup div{
	text-align: center;
	color:white;
	padding:5px;
}
.popup div input{
	width:90%;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



.contextmenu {
  display: none;
  position: absolute;
  width: 200px;
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  border-radius: 5px;
  list-style: none;
  box-shadow:
    0 15px 35px rgba(50,50,90,0.1),
    0 5px 15px rgba(0,0,0,0.07);
  overflow: hidden;
  z-index: 999999;
}

.contextmenu li {
  border-left: 3px solid transparent;
  transition: ease .2s;
}

.contextmenu li span {
  display: block;
  padding: 10px;
  color: #B0BEC5;
  text-decoration: none;
  transition: ease .2s;
}
.contextmenu li:hover {
  background: #CE93D8;
  border-left: 3px solid #9C27B0;
  cursor: pointer;
}

.contextmenu li:hover span {
  color: #FFFFFF;
}
#loadingMessage{
	width:66%;
	margin-top:250px;
	margin-left:40%;
}
#deleteConfirmPop{
	padding:15px;
	height: 110px;
}